/* fonte  */
@font-face {
    font-family:"ring";
    src: url("../fontes/RINGM___.TTF");

}

/* geral */
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex: 2;
}

.col-ghost{
    height:100%;
    width: 5%;
}


.col-menu{
    border: 1px solid black;
    height:100%;
    width: 5%;
    position:fixed;
    background-color: #000;
    transition: 0.5s;

}
.col-menu:hover{
    width: 6%;
    font-size: 3vh;
    transition: 0.5s;
}
.col-menu:hover>a{
    height:3.5%;
}
.col-conteudo{
    margin-left: 0.09%;
    width:95%;
    height: 96vh;
    background-color: #262626
    ;
    padding: 1%;
}
/* configuração de iniciales */
h4{
    font-family: "ring";
    text-align: center;

}

/***************PRIMEIRO ICONE DO MENU****/
.inicio>a>img{
    width: 100%;
}
/***************BASE DOS ICONES DO MENU****/
.bloco{
    margin-bottom:10% ;
    background-color: #c6520e;
    width: 100%;
    height: 2.5%;
    padding-left: 0.5vh;
}
.fonte{
    font-size: 1.5vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
a{
    padding-top: 0.5vh ;
    padding-bottom: 0.5vh;
    display: inline-flex;
    text-decoration: none;  
    color: #000;
    transition: 0.4s;
}
.bloco:hover{
    font-size: 2vh;
    background-color: #ff5e00;
    transition: 0.4s;
    color: #f4f0e6;
}
/***********************COL DE CONTEUDO  */
.titulo{
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10vh;
    border-bottom: 1px solid #c6520e;
    margin-bottom: 1vh;
}
.subtitulo{
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: overline ;
    font-size: 2vh;

}

.blocoCapa{
    display: inline;
    margin-right: 1%;
}
/* creditos */
.msgDeIndisponivel{
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vh;
    text-decoration: underline;
}
/*****************CREDITOS****/
.empresa{
    font-size: 2vh;
    margin-top: 5%;
    margin-left: 15%;
    color:#c6520e;

}
.nomeDaEmpresa{

    color:#f4f0e6;
    /* margin-top: 15%; */
    margin-left: 18%;
    font-size: 10vh;
    margin-bottom: 15%;

}
/***************FUNCIONARIO*/
.areaFuncionario{
    margin-top: 60vh;
}
.campos{
    margin-left: 20vh;
    margin-top: 10vh;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    font-size: 4vh;
}
.login{
    font-size: 3vh;
    background-color:#262626;
    border-bottom: 3px solid #c6520e;
    border-right: none;
    border-left: none;
    border-top: none;
    color: #f4f0e6;
    text-transform: uppercase;
}
.btnLogin{
    width: 15vh;
    height: 5vh;
    background-color: #c6520e;
    border: none;
    color: #f4f0e6;
    font-size:70%;
    transition: 0.4s;
}
.btnLogin:hover{
    background-color: #c6520e;

}
.red{
    color: #ff5e00;
}
.red:hover{
    color: #ff843c;
}
/********************************** TABELA*********************/
tr{
    text-align: center;
}
table{
    margin-top:5vh;
    margin-left: 20vh;
    width: 150vh;
    border-collapse: collapse;

}
tr{
    height: 2vh;
    width: 100vh;
    
    color: #707270 ;
    font-size: 2vh;
    padding: 1vh;

    
}
td{
    border-bottom: 0.1vh solid #c6520e;
    text-transform: uppercase;
    
    padding-left: 0;
    margin-left: 0;
}